<footer>
    <p>&copy; Antonio García Torres</p>

    <div class="social-media">
        <a href="https://www.instagram.com/tonniggrcia_/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/antonio-garc%C3%ADa-torres-a635992b6/?locale=en_US" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/Tonips22" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>

<style>
    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        margin-top: 5rem;
        padding: 20px;
        background-color: #ffffff20;
    }

    .social-media{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .social-media a{
        color: var(--tertiary);
        transition: scale ease .3s;
    }

    .social-media a:hover{
        scale: 1.1;
    }
</style>