---
// Importa getI18N
import { getI18N } from '@/i18n';

const { currentLocale = 'es' } = Astro;

// Obtiene el objeto i18n
const i18n = getI18N({ currentLocale });
---

<section class="container" id="intro">
    <div class="info">
        <h1>{i18n.INTRO_BASE}<span id="text">Antonio</span></h1>
        <h2>
            <p set:html={i18n.INTRO_DESCRIPTION_1}></p>
            <p set:html={i18n.INTRO_DESCRIPTION_2}></p>
        </h2>
        
        <div class="social-media">
            <a href="https://www.instagram.com/tonniggrcia_/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/antonio-garc%C3%ADa-torres-a635992b6/?locale=en_US" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/Tonips22" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a class="contact" href="https://mail.google.com/mail/u/2/#inbox?compose=GTvVlcSMVJPzJmncbJpzGJXWnWrlRJGdKsQnMKKmDnjLcqZKDwfNhpJWhlzjNtKmvKhHxlFsPgFTg">
                <i class="fa-solid fa-envelope"></i>
                {i18n.CONTACT_LINK}
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>

    <img class="logo" src="./image0.webp" alt="Personal logo">
</section>

<style>
    section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        min-height: 100vh;

        gap: 50px;
    }

    @media (width <= 768px) {
        section{
            flex-direction: column;
            padding: 1rem;
        }

        section img{
            width: 300px;
        }
        
    }

    .info{

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        gap: 20px;
    }

    .info h1{
        font-family: var(--primaryFont);

        font-size: 5rem;
    }

    .info h1 span{
        color: var(--primary);
    }

    .info h2{
        font-size: 20px;
        text-wrap: pretty;
        max-width: 90%;

        span{
            color: var(--secondary);
        }
    }

    .info h2 p{
        margin-top: 10px;
    }

    .info h2 p:first-child{
        margin-top: 0;
    }

    @media (width <= 768px) {
        .info{
            order: 2;
            align-items: center;
        }

        .info h1{
            text-align: center;
            font-size: 3rem;
        }

        .info h2{
            font-size: 1rem;
        }
    }

    .social-media{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .social-media a{
        text-decoration: none;
        color: var(--tertiary);
        font-size: 38.4px;

        transition: color ease .3s;
    }

    .social-media a:hover{
        color: var(--secondary);
    }

    .social-media .contact{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        padding: 10px 20px;
        background-color: var(--white);
        color: var(--dark);
        border-radius: 5px;
        
        font-size: 1rem;


        transition: all ease .3s;
    }

    .social-media .contact:hover{
        background-color: var(--tertiary);
        color: var(--dark);
        
        .fa-arrow-right{
            margin-left: 5px;
        }
    }

    .fa-arrow-right{
        transition: all ease .3s;
    }

    .logo{
        aspect-ratio: 1/1;
        max-width: 500px;
        height: auto;
        border-radius: 41% 30% 41% 30% / 69% 31% 69% 31%;

        box-shadow: 3px 3px 10px 3px #000;
        object-fit: cover;
    }
</style>

<script src="https://kit.fontawesome.com/ebd46689b1.js" crossorigin="anonymous"></script>

<script>
    // Importa Typed
    import Typed from 'typed.js';


    // // Define las strings
    // const strings = ['Toni', i18n.INTRO_NAME_3, i18n.INTRO_NAME_4, i18n.INTRO_NAME_5];
  
    // Define las strings
    const strings = ['Toni','Sofware developer', 'Web Developer', 'Web Designer'];
  
    // Inicializa Typed
    const typed = new Typed('#text', {
      strings,
      typeSpeed: 60,
      startDelay: 500,
      backSpeed: 30
    });
  </script>