---

---
<section class="container" id="projects">
    <h1>Projects</h1>

    <div class="projects">
        <article class="project">
            <img src="./screenshot-nothing.png" alt="Nothing Project picture">
    
            <div class="info">
                <h1>Nothing-Phone Redesign</h1>
    
                <p>Personal project on the redesign of the Nothing Phone 2 main page.</p>
    
                <div class="technologies">
                    <span>Astro</span>
                    <span>HTML5</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                </div>
    
                <a target="_blank" href="https://nothing-phone-2.vercel.app/">Visit Website</a>
            </div>
        </article>
    
        <article class="project">
            <img src="./screenshot-irecipe.png" alt="iRecipe screenshot picture">
    
            <div class="info">
                <h1>iRecipe</h1>
    
                <p>Personal project about creating a recipe blog that contains the fundamental CRUD (Create, Read, Update and Delete) operations and OOP.</p>
    
                <div class="technologies">
                    <span>HTML5</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>PHP</span>
                    <span>Laravel</span>
                </div>
    
                <a target="_blank" href="https://irecipe.000webhostapp.com/">Visit Website</a>
            </div>
        </article>
    
        <article class="project">
            <img src="./screenshot-weekly.png" alt="Weekly Gallery screenshot">
    
            <div class="info">
                <h1>Weekly Gallery</h1>
    
                <p>Simple Gallery page using HMTL CSS & JS inefine fioenfoen foeofneongfo fonefonengfoe oenfonfeonf</p>
    
                <div class="technologies">
                    <span>HTML5</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                </div>
    
                <a target="_blank" href="https://tonips22.github.io/WeeklyGallery/">Visit Website</a>
            </div>
        </article>
    </div>
</section>
<style>

    section{
        margin-top: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        min-height: 100vh;

        h1{
            font-size: 5rem;
            font-family: var(--primaryFont);
            color: var(--white);
        }
    }
    .projects{
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(500px, 1fr)
        );
        gap: 20px;
    }

    @media (width <= 768px) {
        .projects{
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .project{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        gap: 20px;


        background-color: #ffffff20;
        backdrop-filter: blur(5px);
        border-radius: 5px;

        overflow: hidden;

        img{
            max-width: 50%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;

            transition: scale .3s ease;
            
        }

        &:hover{
            img{
                scale: 1.2;
            }
        }
    }

    @media (width <= 768px) {
        .project{
            flex-direction: column;

            img{
                max-width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;

        gap: 20px;
        padding: 20px 20px 40px 20px;

        h1{
            color: var(--primary);
            font-family: var(--primaryFont);
            font-size: 2rem;
            text-align: center;
        }

        a{
            padding: 10px 20px;
            border-radius: 5px;
            color: var(--dark);
            background-color: var(--white);

            transition: background-color ease .3s;
            width: 100%;
            text-align: center;
            margin: 0 auto;

            &:hover{
                background-color: var(--tertiary);
            }
        }
    }

    .technologies{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;

        span{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2px;

            /* border: 1px solid var(--white); */
            color: var(--white);
            background: #1e1e1e20;
            background: -webkit-linear-gradient(135deg, #1e1e1e20 0%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 100%);
            background: linear-gradient(135deg, #1e1e1e20 0%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 100%);
            
            padding: 5px 10px;
            border-radius: 5rem;

            font-size: 12px;

            cursor: default;
        }
    }
</style>

<style is:global>
    .html{
        color: orange;
    }

    .css{
        color: var(--primary);
    }

    .js{
        color: yellow;
    }

    .astro{
        color: darkorange;
    }

    .php{
        color: plum;
    }

    .laravel{
        color: crimson;
    }


</style>

<script src="https://kit.fontawesome.com/ebd46689b1.js" crossorigin="anonymous"></script>