---
import Tag from "@/components/Tag.astro"

import { getI18N } from '@/i18n';
const {currentLocale = "es"} = Astro
const i18n = getI18N({ currentLocale })

---

<section class="skills container" id="skills">
    <h1>{i18n.SKILLS_NAME_SECTION}</h1>

    <div class="sub-container">
        <Tag name="HTML5" link="html5.svg"/>

        <Tag name="CSS3" link="css3.svg"/>

        <Tag name="JavaScript" link="javascript.svg"/>

        <Tag name="Astro" link="astro.svg"/>

        <Tag name="TailwindCSS" link="tailwind.svg"/>
        
        <Tag name="React" link="react.svg"/>

        <Tag name="PHP" link="php.svg"/>

        <Tag name="Laravel" link="laravel.svg"/>

        <Tag name="Java" link="java.svg"/>

        <Tag name="C++" link="c++.svg"/>

        <Tag name="MySQL" link="mysql.svg"/>

        <Tag name="Git" link="git.svg"/>

        <Tag name="Photoshop" link="photoshop.svg"/>
        
        <Tag name="Premiere" link="premiere-pro.svg"/>
    </div>
</section>

<style>
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 5rem;

        min-height: 100vh;

        animation: fade-in ease-in-out .3s both;
        animation-timeline: view();
        animation-range: entry 30% 40%;
    }

    .skills h1{
        font-family: var(--primaryFont);
        font-size: 5rem;
    }

    @media (width <= 768px) {
        .skills h1{
            font-size: 4rem;
        }
    }

    @keyframes fade-in{
        from{
            opacity: 0;
            transform: translateY(50px);
        }

        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .sub-container{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        place-content: center;
        row-gap: 5rem;
        column-gap: 2rem;

        max-width: 50%;
    }

    @media (width <= 1024px) {
        .sub-container{
            grid-template-columns: repeat(4, 1fr);

        }
    }

    @media (width <= 768px) {
        .sub-container{
            grid-template-columns: repeat(3, 1fr);

        }
    }
</style>